.row-col-8{
  justify-content: space-evenly;
}
.container_imgs {
  display:flex;
  padding-left: 10px;
  border: 20px solid;
  border-image-width: 12px;
  border-color:white;
  margin: 0;
  padding: 0;
  object-fit: contain;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  max-height: 340px;
}
.image_left{

  width: 50%;
  float: left;
  height: 100vh;
}
.image_right{
  width: 50%;
  float: right;
  height: 100vh;
}


.title-body{
  font-size: 24px;
  font-kerning: auto;
  font-weight: bolder;
  text-align: center;
  color: white;

}
.card_description{
  font-size: 18px;
 
}
