<h1 class="kl">KOH-LANTA ADVENTURE</h1>

<p class= "descr">Rent a incredible adventure from all over the world... and beyond</p>

<div class="container">
  <div class="cards">



  <% @adventures.each do |adventure| %>
     <div class="card">
      <%= adventure.title %>
      <%
       if adventure.photos%>
      <%= cl_image_tag(adventure.photos.first.key,
      width: 400, height: 300, crop: :fill) %>
      <% end %>



 </div>
  <% end %>



</div>
