// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

// Your CSS partials
@import "components/index";
@import "pages/index";

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  list-style-type : none;
}

body a {
  text-decoration: none;
  color: black;
}

.cards img {
  object-fit: cover;
  width: 100%;
}

.descr{
  font-family: 'Staatliches';
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: white;
  -webkit-animation: fadein 15s;
}

.kl{
  font-family: 'Staatliches';
  display: flex;
  justify-content: center;
  font-size: 102px;
  color: white;
  -webkit-animation: fadein 5s;
}

.card{
  overflow: hidden;
  border-radius: 16px;
  border: none;
  display: flex;
  transition: all .2s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
  }

body{
  background: url(banner3.jpg);
}

.navbar{
  position: sticky;
  top: 0;
}

@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.btn-log-sign {
  color: white;
  border-color: white;
}

.btn-log-sign2 {
  color: white;
}
